<div id="user-view">
  <h2>アカウントを作成</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name, "名前" %><br />
      <%= f.text_field :name, autofocus: true, placeholder:"ニックネームを入力してください" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder:"最低6文字必要です" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "もう一度パスワードを入力してください" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions new_registar">
      <%= f.submit "Omazonアカウントを作成", class:"submit-button" %>
    </div>
  <% end %>

  <div class="agree">
    <p>サインインすることにより、当社の利用規約およびプライバシー規約に同意したとみなされます。</p>
    <p>勝手にプライム会員になって3900円引き落とされます。</p>
  </div>

  <%= render "devise/shared/links" %>
</div>
