#order-new
  %p 注文内容を確認してください。
  #order-adress
    %h1 お届け先：
    %p 氏名： #{@address.name}
    %p 電話番号：#{@address.tel}
    %p 住所：#{@address.address}
  #order-paytype
    %h1 支払方法： #{@order.pay_type}
  #order-decision
    = link_to '注文を確定する', "/orders/#{@order.id}", method: :patch, data: { confirm:"注文を確定しますか？"}
    %p ボタンを押すと注文します。
