#order-new
  %p 注文内容を確認してください。
  = form_for @order do |f|
    #order-adress
        %h1 使用する住所：
        - current_user.addresses.each do |address|
          = f.radio_button(:address_id, address.id)
          = f.label(:address_id, address.name, value: address.id)
          %p 電話番号：#{address.tel}
          %p 住所：#{address.address}
    #order-paytype
      %h1 支払方法：
      = f.radio_button(:pay_type, 1)
      = f.label(:pay_type, "子供銀行券", value: 1)
      = f.radio_button(:pay_type, 2)
      = f.label(:pay_type, "肩もみ券", value: 2)
      = f.radio_button(:pay_type, 3)
      = f.label(:pay_type, "お手伝い券", value: 3)
    #order-decision
      = f.submit
