#cart-show
  #show-cart
    %table{id:"#{shoppings.length}"}
      %caption ショッピングカート
      %tr.tr-top
        %th
        %th
        %th 価格
        %th.td-quantity 数量
      - shoppings.each.with_index(1) do |cart, i|
        %tr{class:"cart-item-" + cart.id.to_s }
          %td.cart-image= link_to image_tag("#{cart.item.image.image_url}"), item_path(cart.item)
          %td
            .cart-item
              %p.cart-item-name= link_to cart.item.name,item_path(cart.item)
              %p.cart-stock 在庫あり
              %div{class:cart.id}
                %span.cart-delete.yubi 削除
          %td.cart-each-price{class:"item-number-#{i}"}= cart.item.price
          %td.cart-quantity
            %div{class:cart.id}
              =cart.quantity
    %table.price-sum
      %tr
        %td 小計
        %td
          %div.cart-price
            %p #{@sum}
