#cart-show
  - if @shoppings.present?
    #show-cart
      %table{id:"#{@shoppings.length}"}
        %caption ショッピングカート
        %tr.tr-top
          %th
          %th
          %th 価格
          %th.td-quantity 数量
        - @shoppings.each.with_index(1) do |cart, i|
          %tr{class:"cart-item-" + cart.id.to_s }
            %td.cart-image= link_to image_tag("#{cart.item.image.image_url}"), item_path(cart.item)
            %td
              .cart-item
                %p.cart-item-name= link_to cart.item.name,item_path(cart.item)
                %p.cart-stock 在庫あり
                %div{class:cart.id}
                  %span.cart-delete 削除
            %td.cart-each-price{class:"item-number-#{i}"}= cart.item.price
            %td.cart-quantity
              = form_for cart, url:"/update_item/#{cart.item_id}", method: :post do |f|
                %div{class:cart.id}
                  = f.select(:quantity, options_for_select(@numbers, { selected: cart.quantity.to_i} ), {}, { class: "select#{i}" })
      %table.price-sum
        %tr
          %td 小計
          %td
            %div.cart-price
              %p #{@sum}
      %p= link_to '注文画面へ進む', new_order_path
  - else
    %p まだカートに何も入っていません。
    %p 商品ページから「カートに入れる」を押すと、買いたい商品を選ぶことができます。
    %p カートに入れた商品が表示され、注文画面に進むことができます。
    = link_to 'トップに戻る', root_path
