#user-view
  %h1 お届け先住所を入力してください。
  - @address.errors.full_messages.each do |message|
    %ul
      %li= message
  .input-form
    = form_for @address do |f|
      = f.label :country, value:"国"
      %br/
      = f.text_field :country
      %br/
      = f.label :name, value:"氏名"
      %br/
      = f.text_field :name
      %br/
      = f.label :post_cord, value:"郵便番号"
      %br/
      = f.text_field :post_cord
      %br/
      = f.label :prefecture, value:"都道府県"
      %br/
      = f.text_field :prefecture
      %br/
      = f.label :address, value:"住所"
      %br/
      = f.text_field :address
      %br/
      = f.label :company, value:"会社名"
      %br/
      = f.text_field :company
      %br/
      = f.label :tel, value:"電話番号"
      %br/
      = f.text_field :tel
      %br/
      %div{class:"new_registar"}= f.submit "住所を保存する", class:"submit-button"
