#address-index
  アカウントサービス › お客様のご住所
  %h1 住所
  .address-box
    = link_to new_address_path, class:"font-center" do
      .font-center
        %p 新しい住所を追加
  - if @addresses.present?
    .address-box
      - @addresses.each do |address|
        %ul
          %li.address-name #{address.name}
          %li #{address.post_cord}
          %li  #{address.prefecture}, #{address.address}
          - if address.company.present?
            %li #{address.company}
          %li #{address.country}
          %li 電話番号：#{address.tel}
          = link_to '変更', edit_address_path(address)
          = link_to '削除', "/addresses/#{address.id}", method: :delete, data: { confirm:"本当に削除しますか?" }
