#item-review
  #review
    %h1 カスタマーレビュー
  #review-rates
    %p= average_rate_stars(@reviews)
    %p= count_reviews(@reviews)
    %p= average_rate(@reviews)
    = link_to('レビューを書く', new_item_review_path(@item), method: :get)
    %table#review-tables
      - if @reviews.present?
        - @count_keys.zip(@count_values, @yellows).each do |key, value, yellow|
          %tr
            %td= "星#{key}つ"
            %td.review-bar
              %div{class:"review-yellow #{yellow}"}
            %td= value
  #customer-review
    %ul
      - @reviews.each do |review|
        %li
          %div{class:"#{review.id}"}
            %p= review_rate_stars(review.rate)
            %p= review.title
            %p 投稿者#{review.user.name}
            %p 形式: ペーパーバック Amazonで購入
            %p= simple_format(review.text)
            %p コメント  このレビューは参考になりましたか？
            %p.review-yes はい
            %p.review-no いいえ
            %div{class:"is-this-cool-#{review.id}"} 参考になった数#{review.like}
