= render 'navbar'
#item-page
  .pankuzu-list
    %p 本 › 文学・評論 › 文芸作品
  .center-col
    .item-image
      =image_tag "#{@item.image.image_url}"
    .item-detail
      .name= @item.name
      .author
      .review= average_rate_stars(@reviews)
      .price
        .type ペーパーバック
        .best-price #{@item.price}円
    .add-cart
      .add-button
        %p= link_to 'カートに入れる', "/add_item/#{@item.id}", method: :post
  .introduction
    .intro-box
      %h2 商品の説明
      %h3 内容紹介
      %p= @item.introduction
  %h1 トップカスタマーレビュー
  = render partial:'review', locals: { reviews: @reviews }
