#user-view
  %h1 レビューを書く
  = form_for([@item, @review]) do |f|
    = f.label :title
    %br
    = f.text_field :title, placeholder: "例：思弁、そして思弁。"
    %br
    = f.label :text
    %br
    = f.text_area :text, class:"text-box", placeholder:"例：30代のマリアは、毎朝カフェで見かける仲の良い夫婦を眺めながら、出版社に出勤するまでのひとときを心地よく過していた。ところがある日、その夫のミゲルがホームレスにナイフで惨殺されたことをきっかけに、マリアは妻のルイサと知り合い、ミゲルの親友であるハビエルに心惹かれるようになる。 ミゲルの死を嘆くルイサ、ルイサに恋情を抱くハビエル、ハビエルの心を知りながらも束の間の逢瀬を重ねるマリア、と三角関係ものかと思いきや、ミゲルの殺人にある謎が芽生えてマリアは疑心暗鬼になる、というミステリーとも読めるのだが、それはあらすじだけである。 訳者があとがきで、「回りくどい文章のくらくらする世界に引き込まれ、途中で投げ出したくなる危険にさらされるかもしれない」と、未読の読者に断っているように、本書の大半は数少ない登場人物の思弁とモノローグに費やされ、物語性はもちろん情景描写すらほとんどない。相手の問いかけに返事をするまでの意識の流れが、30行、40行と、読点の多いくどい文章で改行なしに書かれ、確かに読み始めは「くらくら」するし、「投げ出したくなる危険」を感じもした。 けれども、辛抱強く読み進めるうちにだんだんと作品の世界観にはまり込み、マリアがブラジャーを付けて部屋を出るか出ないかで延々と思弁を続ける場面では、感動すら覚えて吹き出してしまった。リアリティや時間の流れといった約束事をいっさい無視してもなお小説を成立させる力が、この作品にはあるからだろう。また、バルザックの「シャベール大佐」やデュマの「三銃士」に関するしつこいまでの引用も面白く、まさに「執着」といった趣があった。そしてもちろん、これほど厄介な作品を訳出した訳者の「執着」にも敬意を表することを忘れてはなるまい。 ジョイスやプルースト(とくに井上究一郎訳)、そしてドストエフスキー(とくに「カラマーゾフ」)といった作家を好む読み手なら、この作品に渦巻く思弁に圧倒されるだろう。"
    %br
    = f.label :rate
    %br
    = f.text_field :rate, placeholder:"1〜5の半角数字で入力してください"
    %br
    .new_registar= f.submit "レビューを投稿する", class:"submit-button"
