%footer
  #back-to-top
    %p トップへ戻る
  #footer-nav
    %table
      %tr
        %td
          %div 初めての方へ
          %ul
            %li= link_to 'アカウント登録する', new_user_registration_path
            %li= link_to 'ログインする', new_user_session_path
      %tr
        %td
          %div 商品を選ぶ
          %ul
            - @categories_sub.each do |category|
              %li= link_to category.name , category_path(category)
      %tr
        %td
          %div ユーザー管理
          %ul
            %li= link_to '住所変更', addresses_path
      %tr
        %td
          %div カート機能
          %ul
            %li= link_to 'カートを見る', cart_path(current_cart)
  #select-lang
    .language
      .logo
        %p Omazon
      .lang-field
        .select-lang
          %select
            %option 日本語
        .current-lang
          %p 日本語
  #about-amazon
    %table
      %tr
        %td
          %div Omazon
        %td
          %div Omazon
        %td
          %div Omazon
        %td
          %div Omazon
        %td
          %div Omazon
        %td
          %div Omazon
  #footer-bottom
    .element
      .agreement
        %p OMAZON | OMAZON
      .copyright
        %p このサイトはRails初心者が練習で作った目コピです。実際の買い物はできません。
