%header
  #navbar
    #nav-belt
      = link_to items_path do
        %h1 Omazon
        %p .co.jp
      = form_tag search_items_path, method: :get do
        #nav-input
          = select_tag :category, options_from_collection_for_select(Category.all, :id, :name), prompt:"すべてのカテゴリー"
          .input
            = text_field_tag :keyword
          .search
            =fa_icon "search", class:"search-icon"
        = submit_tag '', class:"submit"
      %span.free-trial
        30日間の無料体験を試す<br>映画もドラマも見放題！
    #nav-main
      %span#nav-category
        %span カテゴリー &#xf0dd;
      %span#nav-menu
        %span マイストア タイムセール ギフト券 Amazonで売る ヘルプ
      %span#nav-user-menu
        %span.country JP &#xf0ac;
        %span#user-controll
          %span=user_controll
          = fa_icon "sort-desc"
          = dd_user_menu
        %span#prime 今すぐプライムに登録！
        %span#want 欲しいもの  &#xf0d7;
        %span#cart
          = link_to 'カート', carts_index_path
          %p &#xf0d7;
