%header
  #navbar
    #nav-belt
      = link_to items_path do
        %h1 Omazon
        %p .co.jp
      = form_tag search_items_path, method: :get do
        #nav-input
          = select_tag :category, options_from_collection_for_select(Category.all, :id, :name), prompt:"すべてのカテゴリー"
          .input
            = text_field_tag :keyword
            = submit_tag "検索", class:"submit"
    #nav-main
      %span#nav-category
        %p カテゴリー
        = render 'layouts/dd-category-menu'
      %span#nav-user-menu
        %span#user-controll
          %span=user_controll
          = fa_icon "sort-desc"
          = dd_user_menu
        %span#cart
          = link_to 'カート', carts_index_path
          %p &#xf0d7;
